<!doctype html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Email verification</title>
    <style>
        /*Somebody needs to fill this.... */
    </style>
</head>

<body>
    <h1>Hello <%=name%>,</h1>
    <p href="<%=link%>">
        We at dopeshot take security very seriously and try to ensure a pleasent expirience for all our users<br>
        Veryfing email adresses is a very important step in this proccess.<br>
        To use our services we kindly ask you to verify your email by clicking the Button below.<br>
    </p>
    <form action='<%=link%>'>
        <input style="background-color: rgb(6, 140, 202)" type="button" onclick="location.href='<%=link%>'" value="verify">
    </form>
    <p>
        <br>Thanks from the dopeshot team!
    </p>
</body>

</html>