<!doctype html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Password Reset</title>
    <style>
        .button {

            background-color: cornflowerblue; 
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

    </style>
</head>

<body>
    <h1 style="color: cornflowerblue;">Hey <%=username%>,</h1>
    <p>
        It seems like you forgot your password. Don´t worry this happens to all of us every once in a while.
        To set a new password please click the button below.
    </p>
    <p style="color:red">
        If you did not request a password reset you can savely ignore this email.
    </p>

    <a href="<%=resetLink%>" class="button">Reset Password</a>

    <p style="color: cornflowerblue;">
        <br>Thanks from the dopeshot team!
    </p>
</body>

</html>