<!doctype html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Set a new password</title>
    <style>
        /*Somebody needs to fill this.... */
    </style>
</head>

<body>
    <h1>Hey <%=username%>,</h1>
    <p>
        You can set a new password<br>
    </p>
    <form>
        <input style="background-color: rgb(6, 140, 202)" type="button" onclick="window.location.href = '<%=resetLink%>';" value="CLICK HERE!">
    </form>
    <p>
        <br>Very design
    </p>
</body>

</html>